#cabeza{
    background-color:#A4CA39;
    width: 250px;
    height: 120px;   
    margin-top: 5%;
    margin-left: 40%;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

#ant_izq{
	width: 6px; height: 70px;
	position: absolute;
	background-color: #A4CA39;
	border-radius: 3px;
	margin-top: -40px;	
	margin-left: 80px;
	-webkit-transform: rotate(-45deg); /*desde aqui hasta "transform" es lo mismo, solo que se usan todos para evitar problemas con los diferentes navegadores*/
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#ant_der{
	width: 6px; height: 70px;
	position: absolute;
	background-color: #A4CA39;
	border-radius: 3px;
	margin-top: -40px;	
	margin-left: 170px;
	-webkit-transform: rotate(45deg); /*desde aqui hasta "transform" es lo mismo, solo que se usan todos para evitar problemas con los diferentes navegadores*/
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

#ojo_izq{
	width: 45px;
	height: 45px;
	background-color: white;
	margin-left: 70px;
	border-radius: 100%;
	margin-top: 40px;
	position: fixed;
}

#ojo_der{
	width: 45px;
	height: 45px;
	background-color: white;
	margin-right: 50px;
	margin-left: 140px;
	margin-top: 40px;
	border-radius: 100%;
	position: fixed;	
}

#brazo_izq{
	width: 50px;
	height: 150px;
	background-color: #A4CA39;
	margin-left: 35%;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius:	 100px;
	position: fixed;
}

#cuerpo{
	width: 250px;
	height: 220px;
	background-color: #A4CA39;
	position: absolute;
	margin-left: 39.7%;
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;
}

#brazo_der{
	width: 50px;
	height: 150px;
	background-color: #A4CA39;
	margin-left: 57%;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius:	 100px;
	position: fixed;
}

#pie_izq{
	width: 50px;
	height: 120px;
	background-color: #A4CA39;
	position: fixed;
	margin-top: 11%;
	margin-left: 44%;
	border-radius: 100px;
}

#pie_der{
	width: 50px;
	height: 120px;
	background-color: #A4CA39;
	position: fixed;
	margin-top: 11%;
	margin-left: 49%;
	border-radius: 100px;
}